/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

* {
  margin: 0px;
  padding: 0px;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/******************************************
/* BASE STYLES
/*******************************************/

html,
body {
}

body {
  margin: 0;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h7,
p,
span,
nav {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}
h6 {
  font-family: "Work Sans", sans-serif;
  font-weight: 900;
  letter-spacing: 0.05em;
  font-size: 550%;
}

h5 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 100;
}

ul {
  list-style-type: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

p {
  font-size: 22px;
}

/******************************************
/* LAYOUT
/*******************************************/
header {
}

nav {
  font-size: 20px;
  font-weight: 500;
  height: 120px;
  width: 100%;
  background-color: none;
  border-bottom: none;
}

nav ul {
  margin-top: 25px;
  margin-right: 10%;
  float: right;
  clear: all;
}

nav ul li {
  width: auto;
  float: left;
  margin-left: 25px;
}

ul li a {
  color: lightgrey;
}

ul li a:hover {
  color: rgb(53, 243, 185);
}

a {
  color: black;
}

/******************************************
/* FIRST SECTION STYLES
/*******************************************/

.firstSection {
  width: 100%;
  height: 890px;
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)),
    url(../images/stars3.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  margin-bottom: 0;
}

.firstSection h1 {
  font-size: 145%;
  font-weight: 200;
  color: white;
  margin-left: 13%;
  width: 840px;
  margin-top: 15%;
}

.firstSection img {
  margin-left: 13%;
  width: 73%;
}

.topbuttons {
  margin-top: 50px;
  margin-left: 25%;
  margin-right: 25%;
}

.button1 {
  background-color: transparent;
  border: 3px solid rgb(53, 243, 185);
  color: rgb(53, 243, 185);
  padding: 15px 60px;
  border-radius: 25px;
  display: inline-block;
  float: left;
  font-weight: 500;
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

.button1:hover {
  background-color: rgb(53, 243, 185);
  border: 3px solid rgb(53, 243, 185);
  color: black;
}

.button2 {
  background-color: rgb(52, 238, 185);
  border: 3px solid rgb(53, 243, 185);
  border-radius: 25px;
  font-weight: 500;
  padding: 15px 60px;
  float: right;
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

.button2:hover {
  background-color: transparent;
  border: 3px solid rgb(53, 243, 185);
  color: rgb(53, 243, 185);
}

/******************************************
/* SECOND SECTION STYLES
/*******************************************/

.secondSection {
  height: 100%;
  width: 100%;
  text-align: center;
  margin-bottom: 2%;
  margin: 0 auto;
}

.secondSection h3 {
  font-size: 115%;
  color: black;
  font-weight: 100;
  width: 890px;
  margin: 4% auto 1% auto;
  line-height: 150%;
  letter-spacing: 0.01em;
}

.secondSection img {
  width: 76%;
}

/******************************************
/* THIRD SECTION STYLES
/*******************************************/

.thirdSection {
  height: 100%;
  text-align: center;
  margin-top: 50px;
}

.thirdSection h6 {
}

.thirdSection h3 {
  font-size: 115%;
  color: black;
  font-weight: 100;
  width: 900px;
  margin: 1% auto 0 auto;
  line-height: 150%;
  letter-spacing: 0.01em;
}

.thirdSection img {
  width: 330px;
}

.flex-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1px;
  margin-left: 100px;
  margin-right: 100px;
}

.child1 {
  flex: 1;
  padding: 10px 10px;
}

.child2 {
  flex: 1;
  padding: 10px 10px;
}

.child3 {
  flex: 1;
  padding: 10px 10px;
}

.child4 {
  flex: 1;
  padding: 10px 10px;
}

.child5 {
  flex: 1;
  padding: 10px 10px;
}

.child6 {
  flex: 1;
  padding: 10px 10px;
}

.child7 {
  flex: 1;
  padding: 10px 10px;
}

.child8 {
  flex: 1;
  padding: 10px 10px;
}

.child9 {
  flex: 1;
  padding: 10px 10px;
}

.child10 {
  flex: 1;
  padding: 10px 10px;
}

.child11 {
  flex: 1;
  padding: 10px 10px;
}

.child12 {
  flex: 1;
  padding: 10px 10px;
}

.child13 {
  flex: 1;
  padding: 10px 10px;
}

.child14 {
  flex: 1;
  padding: 10px 10px;
}

.child15 {
  flex: 1;
  padding: 10px 10px;
}

.child16 {
  flex: 1;
  padding: 10px 10px;
}

.child17 {
  flex: 1;
  padding: 10px 10px;
}

.child18 {
  flex: 1;
  padding: 10px 10px;
}

.flex-grid.thirds .col {
  width: 32%;
}

.thirdSection button {
  background-color: white;
  padding: 15px 50px;
  border: 2px solid black;
  color: black;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.25em;
  margin-top: 50px;
  margin-bottom: 80px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

.thirdSection button:hover {
  background-color: rgb(53, 243, 185);
  border: 2px solid rgb(53, 243, 185);
  color: white;
  cursor: pointer;
}

/******************************************
/* FOURTH SECTION STYLES
/*******************************************/

.fourthSection {
  height: 100%;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  padding-bottom: 50px;
}

.fourthSection h6 {
  margin-bottom: 30px;
}

.fourthSection p {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 200;
  column-count: 2;
  text-align: left;
  line-height: 1.4em;
}

.fourthSection img {
  width: 110px;
  height: 130px;
  float: right;
  margin-right: 8%;
  margin-left: 3%;
}

.aboutMe {
  margin-left: 10%;
  margin-right: 20%;
}

/******************************************
/* FIFTH SECTION STYLES
/*******************************************/

.fifthSection {
  background-image: url(../images/computer.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  height: 100%;
  text-align: center;
}

.fifthSection h5 {
  font-size: 100%;
  font-weight: 100;
  letter-spacing: 0.25em;
  color: white;
  padding-top: 90px;
  padding-bottom: 0px;
}

.fifthSection button {
  background-color: rgb(53, 243, 185);
  padding: 15px 50px;
  border: 2px solid rgb(53, 243, 185);
  color: black;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.25em;
  margin-top: 40px;
  margin-bottom: 80px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

.fifthSection button:hover {
  background-color: none;
  border: 2px solid rgb(0, 228, 184);
  color: white;
  cursor: pointer;
}

/******************************************
/* CONTACT US SECTION STYLES
/*******************************************/

.contactUs {
  width: 100%;
  height: 100%;
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: center;
}

.contactUs h3 {
  font-size: 115%;
  color: black;
  font-weight: 100;
  width: 900px;
  margin: 1% auto 0 auto;
  line-height: 150%;
  letter-spacing: 0.01em;
}

/******************************************
/* FORM SECTION STYLES
/*******************************************/

form {
  margin: 0 0;
  width: 48%;
  padding: 0em;
  border: 0px solid #ccc;
  border-radius: 0em;
  margin-top: 11px;
  margin-left: 5%;
  display: inline-block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  display: inline-block;
  float: left;
  width: 80px;
  text-align: right;
  padding-right: 10px;
}

input,
textarea {
  font: 1em sans-serif;
  width: 67%;
  box-sizing: border-box;
  border: 1px solid #999;
  background-color: rgb(232, 234, 237);
}

#msg {
  width: 84%;
}

input:focus,
textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align: top;
  height: 9.3em;
  background-color: rgb(232, 234, 237);
}

.button {
  padding-left: 90px;
  
}

button {
  background-color: rgb(53, 243, 185);
  padding: 15px 70px 15px 70px;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.25em;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  color: black;
}

button:hover {
  background-color: rgb(0, 228, 184);
  color: white;
  cursor: pointer;
}

#map {
  height: 300px;
  width: 400px;
  float: right;
  margin-right: 9%;
  margin-top: 31px;
  border: 1px solid #999;
}

#map img {
  max-height: 100%;
  max-width: 100%;
}

/******************************************
/* FOOTER SECTION STYLES
/*******************************************/

.footer {
  width: 100%;
  height: 350px;
  background-color: rgb(31, 31, 31);
  color: lightgrey;
  padding-left: 50px;
  padding-right: 50px;
}

.footerColumns {
  width: 24%;
  height: 200px;
  display: block;
  float: left;
  margin-top: 30px;
  margin-bottom: 80px;
  margin-left: 10px;
}

footer ul {
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 200;
  font-size: 0.8em;
  list-style-type: none;
  text-decoration: none;
  line-height: 1.4em;
}

footer ul li {
}

footer ul li a {
  color: lightgrey;
}

footer ul li a:hover {
  color: rgb(198, 227, 247);
  cursor: pointer;
}

footer ul li span {
  font-size: 20px;
}

footer p {
  text-align: center;
  font-size: 0.7em;
  color: lightgrey;
}

.firstColumn {
  margin-left: 50px;
}

.secondColumn {
  margin-left: 80px;
}

.thirdColumn {
  margin-left: 70px;
}

.thirdColumn form {
  margin-left: 0px;
}

.thirdColumn form:hover {
  cursor: pointer;
}

.fourthColumn {
  margin-left: 50px;
}

.copyright {
  margin-top: 0px;
}

ul li img {
  display: inline-block;
  float: left;
  width: 30px;
  margin-right: 10px;
  margin-top: 20px;
}

/******************************************
/* PORTFOLIO SECTION
/*******************************************/

.firstSectionPortfolio {
  width: 100%;
  height: 30px;
}

.secondSectionPortfolio {
  text-align: center;
  margin-bottom: 80px;
  width:100%;
}

.secondSectionPortfolio h2 {
  text-align: center;
  font-size: 175%;
  color: black;
  font-weight: 600;
  width: 100%;
  margin: 4% auto 0 auto;
  line-height: 150%;
  letter-spacing: 0.01em;
}

.secondSectionPortfolio h3 {
  text-align: center;
  padding: 0 8%;
  font-size: 100%;
  color: black;
  font-weight: 100;
  width: 100%;
  margin: 2% auto 0 auto;
  line-height: 150%;
  letter-spacing: 0.01em;
  text-align: center;
}

/******************************************
/* PORTFOLIO INSIDE PAGE STYLES
/*******************************************/

.portPics {
  width: 90%;
  margin: 50px auto 0 auto;
}

#candygif {
  width: 100%;
}

#brittsgif {
  width: 100%;
}

#brittside1 img {
  width: 49%;
  float: left;
}

#brittside2 img {
  width: 49%;
  float: right;
}

/******************************************
/* RESPONSIVE WEB STYLES
/*******************************************/

@media (min-width:1000px) and (max-width:1210px) {

  form {
    margin: 0 0;
    padding: 0em;
    border: 0px solid #ccc;
    border-radius: 0em;
    margin-top: 11px;
    margin-left: 0;}
  form ul {
    list-style: none;
    padding: 0;
    margin-top: 15px;
    margin-left:15%;
    height:250px;}
  form li + li {
    margin-top: 1em;
    float:left;}
  label {
    float: left;
    text-align: left;}
  input,
  textarea {
    float:left;
    font: 1em sans-serif;
    box-sizing: border-box;
    border: 1px solid #999;
    background-color: rgb(232, 234, 237);}
  #msg {
    float:left;}
  .button {
    padding-left: 25%; }
  button {
    padding: 15px 40px;
    font-size: 15px;} 
  .footer {
      width: 100%;
      height: 350px;
      background-color: rgb(31, 31, 31);
      color: lightgrey;
      padding-left: 50px;
      padding-right: 50px;}
  .footerColumns {
      width: 23%;}
  .firstColumn {
      margin-left: 50px;}
  .secondColumn {
      margin-left: 40px;}
  .thirdColumn {
      margin-left: 40px;}
  .fourthColumn {
      margin-left: 40px;}
  }

/******************************************
/* RESPONSIVE WEB STYLES
/*******************************************/

@media (min-width:760px) and (max-width:999px) {
  .firstSection {
      width:100%;}
  .firstSection main h1 {
      font-size: 125%; }
  .topbuttons {
      margin-left: 25%;
      margin-right: 25%;}
  header .button1 {
      padding: 15px 40px;
      font-size: 15px; }
  header .button2 {
      padding: 15px 40px;
      font-size: 15px; } 
  .secondSection {
      height: 100%;
      width: 100%;
      text-align: center;
      margin-bottom: 2%;
      margin: 0 auto;}
  .secondSection h3 {
      font-size: 100%;
      width: 90%;}
  .thirdSection h6 {
      font-size: 400%;}
  .thirdSection h3 {
      font-size: 100%;
      width: 90%;}
  .portfolioButton button {
      padding: 15px 40px;
      font-size: 15px;}  
  .fourthSection p {
      column-count: 1;}
  .fourthSection h6 {
      font-size: 400%;
      width: 100%;}
  .fourthSection img {
      width: 110px;
      height: 130px;
      float: right;
      margin-right: 10%;
      margin-left: 4%;}
  .fifthSection button {
      padding: 15px 40px;
      font-size: 15px;} 
  .aboutMe {
      margin-left: 10%;
      margin-right: 20%;} 
  .contactUs {
      width: 100%;
      height: 100%;
      margin-top: 80px;
      margin-bottom: 80px;
      text-align: center;} 
  .contactUs h3 {
      font-size: 100%;
      width: 90%;}
  .contactUs h6 {
      font-size: 400%;}
  label {
      display: inline-block;
      float: left;
      width: 280px;
      text-align: left;
      padding-right: 10px;}
    input,
    textarea {
      font: 1em sans-serif;
      width: 100%;
      box-sizing: border-box;
      border: 1px solid #999;
      background-color: rgb(232, 234, 237);}
    #msg {
      width: 100%;}
    .button {
      padding-left: 0px; }
    button {
      padding: 15px 40px;
      font-size: 15px;} 
    #map {
      display:none;}
    .footer {
        width: 100%;
        height: 350px;
        background-color: rgb(31, 31, 31);
        color: lightgrey;
        padding-left: 50px;
        padding-right: 50px;}
    .footerColumns {
        width: 23%;}
    .firstColumn {
        margin-left: 50px;}
    .secondColumn {
        margin-left: 40px;}
    .thirdColumn {
        margin-left: 40px;}
    .fourthColumn {
        margin-left: 40px;}

    }  
    
    
/******************************************
/* RESPONSIVE WEB STYLES
/*******************************************/

@media (min-width:615px) and (max-width:759px) {
  .firstSection {
      width:100%;}
  .firstSection main h1 {
      font-size: 125%; 
      width:300px;
      margin-top:150px;}
  .topbuttons {
      text-align: center;
      margin-left:38%;}
  header .button1 {
      padding: 15px 40px;
      font-size: 15px; 
      margin-top:0px;}
  header .button2 {
      padding: 15px 40px;
      font-size: 15px; 
      margin-top:40px;
    float:left;} 
  .secondSection {
      height: 100%;
      width: 100%;
      text-align: center;
      margin-bottom: 2%;
      margin: 0 auto;}
  .secondSection h3 {
      font-size: 100%;
      width: 90%;}
  .thirdSection h6 {
      font-size: 325%;}
  .thirdSection h3 {
      font-size: 100%;
      width: 90%;}
  .portfolioButton button {
      padding: 15px 40px;
      font-size: 15px;}  
  .fourthSection p {
      column-count: 1;}
  .fourthSection h6 {
      font-size: 325%;
      width: 100%;}
  .fourthSection img {
      width: 110px;
      height: 130px;
      float: right;
      margin-right: 10%;
      margin-left: 4%;}
  .fifthSection button {
      padding: 15px 40px;
      font-size: 15px;} 
  .aboutMe {
      margin-left: 10%;
      margin-right: 20%;} 
  .contactUs {
      width: 100%;
      height: 100%;
      margin-top: 80px;
      margin-bottom: 80px;
      text-align: center;} 
  .contactUs h3 {
      font-size: 100%;
      width: 90%;}
  .contactUs h6 {
      font-size: 325%;}
  label {
      display: inline-block;
      float: left;
      width: 280px;
      text-align: left;
      padding-right: 10px;}
    input,
    textarea {
      font: 1em sans-serif;
      width: 100%;
      box-sizing: border-box;
      border: 1px solid #999;
      background-color: rgb(232, 234, 237);}
    #msg {
      width: 100%;}
    .button {
      padding-left: 0px; }
    button {
      padding: 15px 40px;
      font-size: 15px;} 
    #map {
      display:none;}
    .footer {
        width: 100%;
        height: 350px;
        background-color: rgb(31, 31, 31);
        color: lightgrey;
        padding-left: 50px;
        padding-right: 50px;}
    .footerColumns {
        width: 23%;}
    .firstColumn {
        margin-left: 0px;}
    .secondColumn {
        margin-left: 10px;}
    .thirdColumn {
        margin-left: 20px;}
    .fourthColumn {
        margin-left: 20px;}
    }  

        
/******************************************
/* RESPONSIVE WEB STYLES
/*******************************************/

@media (min-width:415px) and (max-width:614px) {
  .firstSection {
      width:100%;}
  .firstSection main h1 {
      font-size: 125%; 
      width:300px;
      margin-top:150px;}
  .topbuttons {
      text-align: center;
      margin-left:31%;}
  header .button1 {
      padding: 15px 40px;
      font-size: 15px; 
      margin-top:0px;}
  header .button2 {
      padding: 15px 40px;
      font-size: 15px; 
      margin-top:40px;
    float:left;} 
  .secondSection {
      height: 100%;
      width: 100%;
      text-align: center;
      margin-bottom: 2%;
      margin: 0 auto;}
  .secondSection h3 {
      font-size: 100%;
      width: 90%;}
  .thirdSection h6 {
      font-size: 250%;}
  .thirdSection h3 {
      font-size: 100%;
      width: 90%;}
  .portfolioButton button {
      padding: 15px 40px;
      font-size: 15px;}  
  .fourthSection p {
      column-count: 1;
      width:115%;}
  .fourthSection h6 {
      font-size: 250%;
      width: 100%;}
  .fourthSection img {
      display: none;} 
  .fifthSection h5 {
      font-size: 70%;
      padding-top: 10px;}  
  .fifthSection button {
      padding: 15px 40px;
      font-size: 15px;
      margin-top: 20px;
      margin-bottom: 20px;    } 
  .aboutMe {
      margin-left: 10%;
      margin-right: 20%;} 
  .contactUs {
      width: 100%;
      height: 100%;
      margin-top: 80px;
      margin-bottom: 80px;
      text-align: center;} 
  .contactUs h3 {
      font-size: 100%;
      width: 90%;}
  .contactUs h6 {
      font-size: 250%;}
  label {
      display: inline-block;
      float: left;
      width: 180px;
      text-align: left;
      padding-right: 10px;}
  input,
    textarea {
      font: 1em sans-serif;
      width: 100%;
      box-sizing: border-box;
      border: 1px solid #999;
      background-color: rgb(232, 234, 237);}
    #msg {
      width: 100%;}
    .button {
      padding-left: 0px; }
    button {
      padding: 15px 40px;
      font-size: 15px;} 
    #map {
      display:none;}
    .footer {
        width: 100%;
        height: 500px;
        padding-left: 50px;
        padding-right: 30px;}
    .footerColumns {
          width: 35%;
          height: 200px;
          display: block;
          float: left;
          margin-top: 30px;
          margin-bottom: 20px;
          margin-left: 10px;
        }
    .firstColumn {
        margin-left: 0px;}
    .secondColumn {
      margin-left: 50px;}
    .thirdColumn {
      margin-left: 0px;}
    .fourthColumn {
       margin-left: 50px;
      float:left;}
    .copyright {
      display: none;}
   }  